// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "material";
@import "material_icons";
.page-content{
  width: 1000px;
  margin: 0 auto;
}

.footer {
  position: absolute;
  right: 300px;
  width: 500px;
  padding: 10px;
}

#logs {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

#logs td, #logs th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
                  }

#logs th {
 font-size: 1.1em;
 text-align: left;
 padding-top: 5px;
 padding-bottom: 4px;
 background-color: #A7C942;
 color: #ffffff;
}

#logs tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}
