<h1>Logs</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td>
          <% binding.pry %>
          <%= l(log.created_at, format: :long) %>
        </td>
        <td>
        <%= link_to("View", log_path(log)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Log', logs_path, method: :post %>
