<h1>Logs</h1>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td>
          <%= local_date(log.created_at) %>
        </td>
        <td>
          <%= link_to("View", log_path(log)) %>
        </td>
        <td>
          <%= link_to("Delete", log_path(log), method: :delete) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="footer">
 <%= link_to 'New Log', logs_path, method: :post %>
</div>
